In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Load the Dataset

In [2]:
data = pd.read_csv("heart.csv")
data.head()

,Age,Gender,Region,Urban/Rural,SES,Smoking Status,Alcohol Consumption,Diet Type,Physical Activity Level,Screen Time (hrs/day),...,Stress Level,Blood Pressure (systolic/diastolic mmHg),Resting Heart Rate (bpm),ECG Results,Chest Pain Type,Maximum Heart Rate Achieved,Exercise Induced Angina,Blood Oxygen Levels (SpO2%),Triglyceride Levels (mg/dL),Heart Attack Likelihood
0,30,Male,East,Urban,Middle,Never,Regularly,Non-Vegetarian,Sedentary,3,...,High,177.0/63.1,82,Normal,Non-anginal,183,No,94.1,58,No
1,24,Female,East,Urban,Low,Occasionally,Occasionally,Non-Vegetarian,Sedentary,15,...,High,137.5/110.7,76,Normal,Non-anginal,118,No,97.1,341,No
2,24,Female,North,Urban,Low,Occasionally,Occasionally,Vegan,High,15,...,Low,138.3/76.6,86,Normal,Typical,164,No,92.7,373,Yes
3,27,Male,East,Urban,Middle,Occasionally,Never,Vegetarian,Sedentary,6,...,Medium,177.1/90.0,106,Normal,Non-anginal,188,No,98.4,102,Yes
4,21,Female,West,Rural,Low,Occasionally,Occasionally,Vegetarian,Moderate,4,...,Low,130.7/108.8,73,Normal,Atypical,216,No,94.9,235,No

 ## Determining dimension and size of the dataset.

In [3]:
print ("Dimension of the dataset is:",data.shape)

Dimension of the dataset is: (10000, 26)

In [4]:
print ("Size of the dataset is: ",data.size)

Size of the dataset is:  260000

##  Determining columns of the dataset.

In [16]:
print ("Columns in the dataset are:\n", data.keys())

Columns in the dataset are:
 Index(['Age', 'Gender', 'Region', 'Urban/Rural', 'SES', 'Smoking Status',
       'Alcohol Consumption', 'Diet Type', 'Physical Activity Level',
       'Screen Time (hrs/day)', 'Sleep Duration (hrs/day)',
       'Family History of Heart Disease', 'Diabetes', 'Hypertension',
       'Cholesterol Levels (mg/dL)', 'BMI (kg/m²)', 'Stress Level',
       'Blood Pressure (systolic/diastolic mmHg)', 'Resting Heart Rate (bpm)',
       'ECG Results', 'Chest Pain Type', 'Maximum Heart Rate Achieved',
       'Exercise Induced Angina', 'Blood Oxygen Levels (SpO2%)',
       'Triglyceride Levels (mg/dL)', 'Heart Attack Likelihood'],
      dtype='object')

In [17]:
print ("Columns in the dataset are:\n", data.columns)

Columns in the dataset are:
 Index(['Age', 'Gender', 'Region', 'Urban/Rural', 'SES', 'Smoking Status',
       'Alcohol Consumption', 'Diet Type', 'Physical Activity Level',
       'Screen Time (hrs/day)', 'Sleep Duration (hrs/day)',
       'Family History of Heart Disease', 'Diabetes', 'Hypertension',
       'Cholesterol Levels (mg/dL)', 'BMI (kg/m²)', 'Stress Level',
       'Blood Pressure (systolic/diastolic mmHg)', 'Resting Heart Rate (bpm)',
       'ECG Results', 'Chest Pain Type', 'Maximum Heart Rate Achieved',
       'Exercise Induced Angina', 'Blood Oxygen Levels (SpO2%)',
       'Triglyceride Levels (mg/dL)', 'Heart Attack Likelihood'],
      dtype='object')

## Data Cleaning

In [5]:
data.columns=data.columns.str.replace(".","_") #here we've replaced "." by "_" should use str before function to use string functions in pandas
data.columns=data.columns.str.replace("/","_") #here we've replaced "/" by "_" 
data.columns=data.columns.str.replace(" ","_") #here we replaced " " by "_"

### Functions of Data Frame
### The Pandas library provides many functions with respect to a data frame.
### These functions are related to: basic functions related to information of 
### the data frame like  describe(), info() etc

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Age                                       10000 non-null  int64
 1   Gender                                    10000 non-null  object
 2   Region                                    10000 non-null  object
 3   Urban_Rural                               10000 non-null  object
 4   SES                                       10000 non-null  object
 5   Smoking_Status                            10000 non-null  object
 6   Alcohol_Consumption                       10000 non-null  object
 7   Diet_Type                                 10000 non-null  object
 8   Physical_Activity_Level                   10000 non-null  object
 9   Screen_Time_(hrs_day)                     10000 non-null  int64
 10  Sleep_Duration_(hrs_day)                  10000 non-null  int64
 11  Family_History_of_Heart_Disease           10000 non-null  object
 12  Diabetes                                  10000 non-null  object
 13  Hypertension                              10000 non-null  object
 14  Cholesterol_Levels_(mg_dL)                10000 non-null  int64
 15  BMI_(kg_m²)                               10000 non-null  float64
 16  Stress_Level                              10000 non-null  object
 17  Blood_Pressure_(systolic_diastolic_mmHg)  10000 non-null  object
 18  Resting_Heart_Rate_(bpm)                  10000 non-null  int64
 19  ECG_Results                               10000 non-null  object
 20  Chest_Pain_Type                           10000 non-null  object
 21  Maximum_Heart_Rate_Achieved               10000 non-null  int64
 22  Exercise_Induced_Angina                   10000 non-null  object
 23  Blood_Oxygen_Levels_(SpO2%)               10000 non-null  float64
 24  Triglyceride_Levels_(mg_dL)               10000 non-null  int64
 25  Heart_Attack_Likelihood                   10000 non-null  object
dtypes: float64(2), int64(7), object(17)
memory usage: 2.0+ MB

In [7]:
data.describe()

,Age,Screen_Time_(hrs_day),Sleep_Duration_(hrs_day),Cholesterol_Levels_(mg_dL),BMI_(kg_m²),Resting_Heart_Rate_(bpm),Maximum_Heart_Rate_Achieved,Blood_Oxygen_Levels_(SpO2%),Triglyceride_Levels_(mg_dL)
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,26.601500,7.510700,6.489600,199.649000,27.44190,89.493400,159.683900,94.940730,275.010100
std,5.164239,4.626578,2.289327,57.561902,7.22374,17.318237,35.034037,2.883329,128.825994
min,18.000000,0.000000,3.000000,100.000000,15.00000,60.000000,100.000000,90.000000,50.000000
25%,22.000000,4.000000,4.000000,150.000000,21.20000,74.000000,129.000000,92.400000,164.000000
50%,27.000000,8.000000,6.000000,199.000000,27.50000,90.000000,160.000000,94.900000,277.000000
75%,31.000000,12.000000,8.000000,249.000000,33.70000,104.000000,190.000000,97.400000,385.000000
max,35.000000,15.000000,10.000000,300.000000,40.00000,119.000000,220.000000,100.000000,500.000000

## Check the Presence of Null values

In [8]:
data.isnull().sum()

Age                                         0
Gender                                      0
Region                                      0
Urban_Rural                                 0
SES                                         0
Smoking_Status                              0
Alcohol_Consumption                         0
Diet_Type                                   0
Physical_Activity_Level                     0
Screen_Time_(hrs_day)                       0
Sleep_Duration_(hrs_day)                    0
Family_History_of_Heart_Disease             0
Diabetes                                    0
Hypertension                                0
Cholesterol_Levels_(mg_dL)                  0
BMI_(kg_m²)                                 0
Stress_Level                                0
Blood_Pressure_(systolic_diastolic_mmHg)    0
Resting_Heart_Rate_(bpm)                    0
ECG_Results                                 0
Chest_Pain_Type                             0
Maximum_Heart_Rate_Achieved                 0
Exercise_Induced_Angina                     0
Blood_Oxygen_Levels_(SpO2%)                 0
Triglyceride_Levels_(mg_dL)                 0
Heart_Attack_Likelihood                     0
dtype: int64

## Determine number of records based on gender.

In [9]:
print ("Number of records for gender: \n",data['Gender'].value_counts())

Number of records for gender:
 Gender
Male      4913
Female    4856
Other      231
Name: count, dtype: int64

## Data Extraction

In [10]:
male_records=data[data['Gender']=='Male']

In [11]:
female_records=data[data['Gender']=='Female']

## Male having heart attacks

In [12]:
male_records.head()

,Age,Gender,Region,Urban_Rural,SES,Smoking_Status,Alcohol_Consumption,Diet_Type,Physical_Activity_Level,Screen_Time_(hrs_day),...,Stress_Level,Blood_Pressure_(systolic_diastolic_mmHg),Resting_Heart_Rate_(bpm),ECG_Results,Chest_Pain_Type,Maximum_Heart_Rate_Achieved,Exercise_Induced_Angina,Blood_Oxygen_Levels_(SpO2%),Triglyceride_Levels_(mg_dL),Heart_Attack_Likelihood
0,30,Male,East,Urban,Middle,Never,Regularly,Non-Vegetarian,Sedentary,3,...,High,177.0/63.1,82,Normal,Non-anginal,183,No,94.1,58,No
3,27,Male,East,Urban,Middle,Occasionally,Never,Vegetarian,Sedentary,6,...,Medium,177.1/90.0,106,Normal,Non-anginal,188,No,98.4,102,Yes
5,20,Male,West,Rural,Middle,Never,Never,Non-Vegetarian,High,2,...,High,171.5/107.1,115,Normal,Atypical,142,No,93.0,129,No
6,29,Male,East,Rural,High,Regularly,Never,Non-Vegetarian,Moderate,8,...,Low,176.7/110.0,118,Normal,Non-anginal,181,No,93.4,444,No
9,35,Male,West,Urban,High,Occasionally,Never,Non-Vegetarian,Sedentary,12,...,High,140.5/106.1,110,Normal,Asymptomatic,141,No,97.1,297,No

In [13]:
male_records['Heart_Attack_Likelihood'].value_counts()

Heart_Attack_Likelihood
No     3865
Yes    1048
Name: count, dtype: int64

In [14]:
female_records['Heart_Attack_Likelihood'].value_counts()

Heart_Attack_Likelihood
No     3910
Yes     946
Name: count, dtype: int64

## Statistical Functions

In [15]:
female_records['Cholesterol_Levels_(mg_dL)'].mean()

np.float64(200.2178747940692)

In [16]:
female_records['Cholesterol_Levels_(mg_dL)'].min()

np.int64(100)

In [17]:
female_records['Cholesterol_Levels_(mg_dL)'].max()

np.int64(300)

## Arranging the Data

In [36]:
print ("Top two records based on descending order for Cholestrol are:\n", 
female_records.sort_values(by='Cholesterol_Levels_(mg_dL)',ascending=False).head(2))

Top two records based on descending order for Cholestrol are:
       Age  Gender Region Urban_Rural  SES Smoking_Status Alcohol_Consumption  \
2443   19  Female  South       Urban  Low      Regularly               Never
7191   21  Female   East       Urban  Low   Occasionally               Never

           Diet_Type Physical_Activity_Level  Screen_Time_(hrs_day)  ...  \
2443  Non-Vegetarian               Sedentary                      1  ...
7191      Vegetarian                Moderate                     12  ...

      Stress_Level Blood_Pressure_(systolic_diastolic_mmHg)  \
2443        Medium                               167.2/65.1
7191        Medium                               147.0/85.5

     Resting_Heart_Rate_(bpm) ECG_Results  Chest_Pain_Type  \
2443                      108      Normal          Typical
7191                      114    Abnormal     Asymptomatic

      Maximum_Heart_Rate_Achieved Exercise_Induced_Angina  \
2443                          170                      No
7191                          121                      No

     Blood_Oxygen_Levels_(SpO2%)  Triglyceride_Levels_(mg_dL)  \
2443                        91.3                          446
7191                        99.6                          281

     Heart_Attack_Likelihood
2443                      No
7191                      No

[2 rows x 26 columns]

## Filtering Data Based on condition

In [37]:
 print ("Displaying rows of selected columns: \n", 
data.loc[data['Smoking_Status'] =='Occasionally','Heart_Attack_Likelihood'])

Displaying rows of selected columns:
 1        No
2       Yes
3       Yes
4        No
8        No
       ...
9988     No
9992     No
9994     No
9995     No
9996     No
Name: Heart_Attack_Likelihood, Length: 2967, dtype: object

In [40]:
print ("Displaying rows age between 24 and 40:\n", 
data.loc[(data['Age']>24) & (data['Age']<= 40), ['Cholesterol_Levels_(mg_dL)', 'Heart_Attack_Likelihood']])

Displaying rows age between 24 and 40:
       Cholesterol_Levels_(mg_dL) Heart_Attack_Likelihood
0                            148                      No
3                            137                     Yes
6                            278                      No
7                            254                      No
9                            268                      No
...                          ...                     ...
9993                         296                      No
9995                         141                      No
9996                         188                      No
9997                         221                      No
9999                         129                      No

[6187 rows x 2 columns]

## Group by Functionality

An important feature of data frame is the use of “groupby()” function which is used to group
 the observations on the basis of a variable.
 It should be noted that grouping of observations can be done only on the basis of
 categorical variable and aggregate functions like max(), mean(), median(), min(), sum(),
 count() on any of the continuous/categorical variable in the dataset.

### Grouping on basis of "Gender" and using size() function for "Heart Attack Likelihood".

In [18]:
result=data[['Heart_Attack_Likelihood','Gender']].groupby([
    'Heart_Attack_Likelihood','Gender']).size()

In [61]:
result

Heart_Attack_Likelihood  Gender
No                       Female    3910
                         Male      3865
                         Other      187
Yes                      Female     946
                         Male      1048
                         Other       44
dtype: int64

## Aggregating values with agg function

In [19]:
aggregated_data = data.groupby(['Heart_Attack_Likelihood']).agg(
    Average_age=('Age', 'mean'),
    avg_cholestrol=('Cholesterol_Levels_(mg_dL)', 'mean'),
    avg_screen_time=('Screen_Time_(hrs_day)', 'mean')
)

print(aggregated_data)

                         Average_age  avg_cholestrol  avg_screen_time
Heart_Attack_Likelihood
No                         26.631374      199.670183         7.529264
Yes                        26.484789      199.566241         7.438175