In [2]:
import pandas as pd

## Read the Data Set in Excel

In [6]:
df=pd.read_excel('malayalam_movie.xlsx')

In [7]:
df.head()

,Title,Director Name,Genre,Budget (Rs Cr),Box Office (Rs Cr),IMDb Rating,Awards,Status,Main Actor,Second Actor,Year
0,Kilukkam,Priyadarshan,Comedy,0.6,1.59,8.7,4,Hit,Mohanlal,Revathi,1991
1,Bharatham,Sibi Malayil,Musical Drama,0.8,2.50,8.4,3,Hit,Mohanlal,Urvashi,1991
2,Godfather,Siddique-Lal,Comedy Drama,0.7,3.50,8.6,2,Hit,N. N. Pillai,Mukesh,1991
3,Sandesham,Sathyan Anthikad,Comedy Drama,0.5,1.20,9.0,1,Hit,Thilakan,Sreenivasan,1991
4,Sadayam,Sibi Malayil,Crime Drama,0.6,0.50,8.4,1,Flop,Mohanlal,Thilakan,1992

In [8]:
y=df['Title']
x=df.drop('Title',axis=1)

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
cos_sim=cosine_similarity(x)

ValueError: could not convert string to float: 'Priyadarshan'

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()

In [13]:
df.columns

Index(['Title', 'Director Name', 'Genre', 'Budget (Rs Cr)',
       'Box Office (Rs Cr)', 'IMDb Rating', 'Awards', 'Status', 'Main Actor ',
       'Second Actor ', 'Year'],
      dtype='object')

In [14]:
items=['Director Name', 'Genre','Main Actor ','Second Actor ']
for item in items:
    df[item]=le.fit_transform(df[item])

In [15]:
df.head()

,Title,Director Name,Genre,Budget (Rs Cr),Box Office (Rs Cr),IMDb Rating,Awards,Status,Main Actor,Second Actor,Year
0,Kilukkam,83,8,0.6,1.59,8.7,4,Hit,28,107,1991
1,Bharatham,112,23,0.8,2.50,8.4,3,Hit,28,148,1991
2,Godfather,113,10,0.7,3.50,8.6,2,Hit,31,77,1991
3,Sandesham,107,10,0.5,1.20,9.0,1,Hit,47,134,1991
4,Sadayam,112,13,0.6,0.50,8.4,1,Flop,28,144,1992

In [16]:
x1=df.drop(columns=['Title','Status'])

In [17]:
cos_sim=cosine_similarity(x1)

In [18]:
cosine_df=pd.DataFrame(cos_sim)

In [19]:
cosine_df

,0,1,2,3,4,5,6,7,8,9,...,245,246,247,248,249,250,251,252,253,254
0,1.000000,0.999658,0.999771,0.999791,0.999722,0.999519,0.999701,0.999629,0.999782,0.999452,...,0.999285,0.999555,0.999258,0.998270,0.998755,0.999609,0.998586,0.998244,0.990957,0.999474
1,0.999658,1.000000,0.999348,0.999905,0.999984,0.998849,0.999017,0.999220,0.999396,0.999642,...,0.998629,0.999529,0.998201,0.996765,0.997697,0.999550,0.997365,0.996633,0.989685,0.999176
2,0.999771,0.999348,1.000000,0.999557,0.999437,0.999926,0.999946,0.998932,0.999985,0.999699,...,0.999803,0.998825,0.999506,0.998554,0.999419,0.999835,0.999100,0.998369,0.990895,0.998928
3,0.999791,0.999905,0.999557,1.000000,0.999938,0.999128,0.999308,0.999274,0.999539,0.999607,...,0.998826,0.999642,0.998463,0.997316,0.998029,0.999733,0.997741,0.997000,0.990023,0.999273
4,0.999722,0.999984,0.999437,0.999938,1.000000,0.998964,0.999147,0.999208,0.999467,0.999650,...,0.998755,0.999535,0.998321,0.996893,0.997805,0.999586,0.997466,0.996747,0.989666,0.999224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,0.999609,0.999550,0.999835,0.999733,0.999586,0.999628,0.999619,0.998747,0.999804,0.999839,...,0.999406,0.998950,0.998878,0.997894,0.998924,1.000000,0.998515,0.997469,0.990313,0.998793
251,0.998586,0.997365,0.999100,0.997741,0.997466,0.999407,0.999318,0.997923,0.999081,0.998140,...,0.999337,0.997159,0.999799,0.999761,0.999647,0.998515,1.000000,0.999627,0.994038,0.997963
252,0.998244,0.996633,0.998369,0.997000,0.996747,0.998696,0.998754,0.998128,0.998395,0.997018,...,0.998594,0.996975,0.999606,0.999685,0.999052,0.997469,0.999627,1.000000,0.994222,0.997964
253,0.990957,0.989685,0.990895,0.990023,0.989666,0.990967,0.991138,0.991355,0.990797,0.989519,...,0.990710,0.990882,0.993065,0.994945,0.990912,0.990313,0.994038,0.994222,1.000000,0.993037
254,0.999474,0.999176,0.998928,0.999273,0.999224,0.998540,0.998864,0.999454,0.998932,0.998536,...,0.998275,0.999524,0.998654,0.997864,0.997579,0.998793,0.997963,0.997964,0.993037,1.000000

In [29]:
cosine_sim_movies=cosine_df.iloc[2].values

In [30]:
import numpy as np

In [31]:
cosine_sim_index=np.argsort(-cosine_sim_movies)[0:7]

In [32]:
cosine_sim_index

array([ 2, 66,  8, 23, 69, 28, 24])

In [34]:
df.iloc[2]['Title']

'Godfather'

In [35]:
for i in cosine_sim_index:
    print(df.iloc[i]['Title'])

Godfather
Rasathanthram
Aakashadoothu
Ormakalundayirikkanam
Flash
Aaraam Thampuran
Thooval Kottaram